@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:ital@1&display=swap');
@import url(//db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded);

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: none; 
}

.navbar-nav a {
    color: #30396E;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav a:hover {
    font-family: 'Poppins', sans-serif;
    color: #30396E;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    width: Hug (89px);
    height: Hug (32px);
    top: 20px;
    left: 1271px;
    padding: 4px, 24px, 4px, 24px;
    border-radius: 8px;
    background-color: #619AEF;
    gap: 10px;
}

.btn:hover {
    background-color: #30396E;
    color: white;
}

.tuntut {
    margin: 0px 0px 200px;
    background-image: url(../image/Vector2.png), url(../image/bulat.png);
    background-repeat: no-repeat;
    background-position: top right, left top;
    background-size: 50%, 9%;
    height: 100%;
}

.tuntut .img-fluid {
    margin-left: 167px;
    margin-top: 5px;
    width: 100%;
}

.gotong {
    margin: 150px 0px 100px;
}

.gotong .card {
    border-color: #3A75D1;
    border-width: 3px;
    border-radius: 50px;
}

.gotong .card .card-body {
    margin: 0px 60px 0px;
}

.gotong .card .row .col img {
    width: 100%;
}

.gotong .row .badge {
    background: linear-gradient(to right, #3A75D1, #54BBEC, #54BBEC); 
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px
}

.gotong .row .col h1 {
    color: #1C2661;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bolder;
}

.gotong .row .col p {
    color: #3A3B41;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.gotong .row .col h5 {
    color: #3A3B41;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.gotong .row .col a {
    text-decoration: none;
    color: #F3A84E;
}

.gotong .row .col a:hover {
    color: #1C2661;
}

.galeri .row .card {
    border-color: #3A75D1;
    border-width: 3px;
    border-radius: 40px;
    margin-bottom: 32px;
}

.galeri .card-box {
    border-color: #3A75D1;
    border-width: 5px;
}

.galeri .row .col-4 img{
    width: 100%;
    margin: 3px 0px 30px;
}

.galeri .row .col-4 a{
    text-decoration: none;
    color: #F3A84E;
}

.galeri .card-box img:hover {
    transform: scale(1.1);
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }
}

@media only screen and (max-width: 767px){

    .tuntut .img-fluid {
        width: 545px;
    }

    .gotong .card {
        margin: -19px 0px 150px;
        border-color: #3A75D1;
        height: 761px;
    }

    .gotong .row div {
        padding: 66px;
        width: 520px;
        height: 193px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .gotong .card .row .col img {
        width: 100%;
    }

    .galeri .row .card {
        margin: 0px 0px 201px;
    }

    .galeri .row div { 
        /* padding: 81px; */
        width: 530px;
        height: 564px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .galeri .row .col-4 .card-box img {
        width: 449px;
    }

    .galeri .card .row .col-4 {
        margin: 0px 0px 100px;
    }
}

@media only screen and (min-width: 1590px) {
    .tuntut{
        background-image: url();
    }

    .tuntut .img-fluid{
        display: block;
    }
}